 /* =========================  Google Fonts  ===========================  */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

 /* =========================  CSS Variables  ===========================  */
:root{
    --header-height: 3rem;

    --color-primary: #FFD033;
    --color-secondary: #201F21;
    --alt-color-primary: #1098F7;
    --alt-color-secondary: #3A7CA5;

    --body-font: 'Poppins', sans-serif;
    --font-medium: 500;
    --font-semi-bold: 600;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: 400;
    color: var(--color-secondary);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    padding: 0 1rem;
    /* background-color: var(--color-primary); */
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.nav-logo{
    width: 100px;
    height: auto;
}

img{
    max-width: 100%;
    height: auto;
}

.nav-link{
    font-weight: var(--font-semi-bold);
    margin: .25rem 1.5rem;
}

.nav-link:hover{
    border-bottom: 3px solid var(--color-primary);
}
.hero{
    min-height: 84vh;
    display: grid;
    place-items: center;
}
.hero-image{
    width: 100%;
    height: auto;
    max-width: 1100px;
    margin: auto;
}
.hero-image img{
    border-radius: 3rem;
}

#apropos{
    min-height: 100vh;
}
#produits{
    min-height: 100vh;
}


form{
    width: 100%;
    max-width: 800px;
    margin: auto;
}

form label{
    display: block;
}
.adress-data{
    /* background-color: rgb(198, 245, 179); */
    padding: 2rem 0;
    display: grid;
    /* width: 100vw; */
}
#contact{
    background-color: var(--color-primary);
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.contact{
    margin: 0 auto;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adresse-text{
    width: 300px;
}
.icons{
    font-size: 40px;
    text-align: center;
}
.bloc-contact{
    width: 100%;
}

.contact-icons i:hover{
    color: var(--color-primary);
}

.icons i{
    padding: .25rem 1rem;
    color: white;
}

.icons i:hover{
    font-size: 2rem;
}

#whatsapp i:hover{
    color: green;
    font-size: 3rem;
}
#facebook i:hover{
    color: blue;
    font-size: 3rem;
}

input, textarea{
    width: 100%;
    font-size: 18px;
    padding-top: .5rem;
}
label{
    padding-bottom: 1rem;
}

.copyright{
    background-color: black;
    color: white;
    text-align: center;
    padding: .75rem;
}

button{
    padding: .5rem;
    font-size: 16px;
}
#contact h3{
    padding-bottom: 2rem;
}

footer{
    border-top: 3px solid var(--color-secondary);
    width: 100%;
    margin: auto;
    background-color: var(--color-primary);
}
.swiper-container {
    width: 100%;
    max-width: 600px;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
}
.swiper-slide img{
    width: 100%;
}
.swiper-slide div{
    color: var(--alt-color-primary);
    position: absolute;
    bottom: 50%;
    font-size: 2rem;
    text-align: center;
}
/* --------------- Whatapp ------------- */


@media screen and (min-width: 560px) {
    body{
        /* background-color: yellowgreen; */
    }
    .nav-menu{
        display: none;
    }
    
    header{
        justify-content: space-between;
    }
    .contact-icons{
        margin-left: .5rem;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .icons{
        /* font-size: 40px; */
        text-align: left;
    }
    .icons i{
        padding: .25rem 1rem;
        /* color: white; */
    }
}


@media screen and (min-width: 800px) {
    body{
        /* background-color: tomato; */
    }
    .nav-menu{
        display: flex;
    }
    .nav-icons{
        display: none;
    }
    main{
        width: 90vw;
        max-width: 1200px;
        /* background-color: violet; */
        margin: auto;
    }
    .adress-data{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem 2rem;
    }
}

@media screen and (min-width: 1200px) {
    body{
        /* background-color: blue; */
    }
    .nav-icons{
        display: none;
    }
}


@media screen and (max-width: 560px) {
    body{
        /* background-color: red; */
    }
    .nav-menu{
        display: none;
    }  
    header{
        justify-content: space-between;
    }
}